upstream backend_pool {

{% for server in pool.members %}
server {{ server }};
{% endfor %}

}

server {
    listen 80;
    return 301 https://$host$request_uri;
}

server {

    listen 443 ssl;

    ssl_certificate /etc/nginx/ssl/nginx.crt;
    ssl_certificate_key /etc/nginx/ssl/nginx.key;

    location / {
        proxy_pass http://backend_pool;
    }
}
